#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  width: 60%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

label:not(:first-child) {
  margin-top: 1rem;
}

input[type="text"],
select {
  height: 2rem;
}

input[type="submit"] {
  margin-top: 2rem;
  height: 2rem;
}

textarea {
  height: 12rem;
  resize: none;
}
