#root {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

.formnResultsContainer {
  display: flex;
  width: 100%;
  column-gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  background: linear-gradient(to bottom, #f3faff 0%, #e1f3ff 100%);
  border: 1px solid #ffffffdd;
  min-width: 50%;
  max-width: 50%;
}

.requestResult {
  flex-shrink: 1;
  padding: 2rem;
  background: linear-gradient(to bottom, #364550 0%, #1e2b33 100%);
  border: 1px solid #ffffffdd;
  width: 50%;
  overflow-wrap: break-word;
  color: #ffffffcc;
  box-shadow: inset 0px 8px 16px #00000088;
}

label:not(:first-child) {
  margin-top: 1rem;
}

label {
  margin-bottom: 0.4em;
}

form input[type="text"],
form input[type="number"],
select {
  /*border: 1px solid #c5c5c5;*/
  border: 1px solid #4688d344;
  background: #ffffff;
  padding: 0.35em 0.4em 0.4em 0.4em;
  color: #264f81bb;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  /*font-family: Arial, Helvetica, sans-serif;*/
  margin-top: 0.325rem;
}

textarea {
  height: 12rem;
  resize: none;
}

.inputButtonContainer {
  display: flex;
  column-gap: 0.5rem;
  height: 35px;
}

form .inputButtonContainer input {
  flex: 1;
  margin-top: 0;
}

.inputButtonContainer button {
  flex-grow: 0;
  height: 35px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
}

li.uriList {
  padding: 0.35em 0.4em 0.4em 0.4em;
  cursor: pointer;
  background: linear-gradient(to bottom, #e7f5ff 0%, #cdebff 100%);
  border: 1px solid #add1e9;
  margin-bottom: 0.5rem;
}

ul.uriListContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

form input[type="submit"] {
  margin-top: 2rem;
  padding: 0.35em 0.4em 0.4em 0.4em;
}
