#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  width: 60%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  background: linear-gradient(to bottom, #f3faff 0%, #e1f3ff 100%);
  border: 2px solid #ffffffdd;
}

label:not(:first-child) {
  margin-top: 1rem;
}

form input[type="text"],
form input[type="number"],
select {
  /*border: 1px solid #c5c5c5;*/
  border: 1px solid #4688d344;
  background: #ffffff;
  padding: 0.35em 0.4em 0.4em 0.4em;
  color: #264f81bb;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  /*font-family: Arial, Helvetica, sans-serif;*/
  margin-top: 0.325rem;
}

input[type="submit"] {
  margin-top: 2rem;
  height: 2rem;
}

textarea {
  height: 12rem;
  resize: none;
}

.requestResult {
  padding: 0 2rem;
  width: 100%;
  overflow-wrap: break-word;
}

.inputButtonContainer {
  display: flex;
  column-gap: 0.5rem;
}

.inputButtonContainer input {
  flex: 1;
}

.inputButtonContainer button {
  flex-grow: 0;
  height: 35px;
  background-color: white;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
}

li.uriList {
  padding: 0.35em 0.4em 0.4em 0.4em;
  cursor: pointer;
}

ul.uriListContainer {
  display: flex;
  flex-direction: column;
}
